* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navi-search {
  text-align: center;
}

.input-box {
  display: inline-block;
  border-radius: 50px;
  overflow: hidden;
  background: white;
  padding: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-select {
  display: inline-block;
  vertical-align: top;
  background: #f1f1f1;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 1rem;
  color: #444;
  cursor: pointer;
}

#engine-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
  color: #444;
  cursor: pointer;
}

.input-box #search {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 80px);
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  color: #444;
  border: none;
  outline: none;
  padding: 0 10px;
}

.input-box button {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
  color: white;
  background: #0071c5;
  border: none;
  outline: none;
  cursor: pointer;
}
