@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');  /* font-family: 'Audiowide', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); /* font-family: 'Kaushan Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /*font-family: 'Righteous', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap'); /*font-family: 'Corben', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap'); /* font-family: 'Holtwood One SC', serif; */

body {
	background: #202020;
	margin: 30px;
	padding-top: 10px;
	margin-top: 10px;


}

h1 {
	text-align: center;
	font-size: 30px;
	margin: 15px;
	padding-bottom: 10px;
	font-family: 'Holtwood One SC', serif;
	background-color: #045de9;
        background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
        -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
    

}

#ajbhai {
	width: 300px;

}

#aj {
	text-align: center;
}


.ajt {
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	margin-top: 10px;
	padding-top: 15px;
    background-color:  #ee9617;
	background-image:  linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 35px;
	text-shadow: 5px 5px 8px #ff0f39;


}

.ajsm{
	font-family: 'Corben', cursive;
	text-align: center;
    background-color: #4d5dfb;
background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer.footer {
  padding-top: 40px;
  text-align: center;
}
footer.footer .copyright {
  color: #9C9AB3;
  font-family: 'Righteous', cursive;
  text-decoration: none;
  font-size: 12px;
}
